.flex-box{
  display: flex;
}

.f-justify-center{
  justify-content: center;
}

.f-align-center{
  align-items: center;
}

.f-space-around{
  justify-content: space-around;
}

.f-between{
  justify-content: space-between;
}
