body{
  background-color: var(--black);
  color: var(--white-text);
  font-family: var(--body-font);
}

.flex-box{
  display: flex;
}

.d-flex-column{
  flex-direction: column;
}

.f-justify-center{
  justify-content: center;
}

.f-justify-end{
  justify-content: end;
}

.f-align-center{
  align-items: center;
}

.f-align-end{
  align-items: end;
}

.f-space-around{
  justify-content: space-around;
}

.f-between{
  justify-content: space-between;
}

.box-shadow{
  box-shadow: 0 0 20px 0px #00000057;
}


body{
  background-image: url("LogoWithoutName.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 500px;
}

body::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  // background: #222222;        /* color of the tracking area */
  background: var(--white-text);        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  // background-color: var(--white-text);    /* color of the scroll thumb */
  background-color: var(--black);    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  // border: 3px solid var(--grey);  /* creates padding around scroll thumb */
}



@media (max-width: 768px){
  body{
    background-image: none;
  }
}

// @media (max-width: 600px){

// }

@media (max-width: 480px){
  body{
    background-image: none;
  }
}
