.banner-logo{
  position: relative;

  h2{
    font-size: 7rem;
    letter-spacing: -3px;
    transition: all 0.6s;
    -webkit-transition: all 0.3s;
    // text-shadow: -1px -1px 0 red, 1px -1px 0 red, -1px 1px 0 red, 1px 1px 0 red;
  }

  // h2:hover{
  //   -webkit-text-fill-color: transparent;
  //   -webkit-text-stroke-width: 3px;
  //   -webkit-text-stroke-color: white;
  //   text-shadow: 5px -5px 0px rgb(255, 255, 255);
  // }

  .static-letter{
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: white;
  }

  .moving-letter{
    position: absolute;
  }

  .moving-letter:hover{
    color: transparent;
    text-shadow: 5px -5px 0px rgb(255, 255, 255);
  }
  .l1:hover{
    text-shadow: 5px -5px 0px green;
  }
  .l2:hover{
    text-shadow: 5px -5px 0px yellow;
  }
  .l3:hover{
    text-shadow: 5px -5px 0px rgb(226, 10, 10);
  }
  .l4:hover{
    text-shadow: 5px -5px 0px lightblue;
  }
  .l5:hover{
    text-shadow: 5px -5px 0px orange;
  }
  .l6:hover{
    text-shadow: 5px -5px 0px purple;
  }
  .l7:hover{
    text-shadow: 5px -5px 0px pink;
  }
  .l8:hover{
    text-shadow: 5px -5px 0px rgb(10, 10, 231);
  }
  .l9:hover{
    text-shadow: 5px -5px 0px lightgoldenrodyellow;
  }
  .l10:hover{
    text-shadow: 5px -5px 0px lightcyan;
  }
  .l11:hover{
    text-shadow: 5px -5px 0px lightsalmon;
  }
  .moving-letter:hover{
    color: transparent;
    text-shadow: 5px -5px 0px var(--orange);
  }
  .letter-buttons{
    position: absolute;
    color: transparent;
    text-shadow: 5px -5px 0px rgb(255, 255, 255);
  }
  .letter-buttons:hover{
    text-shadow: 0px 0px 0px rgb(255, 255, 255);
  }

  // .moving-letter:hover + .static-letter{
  //   -webkit-text-stroke-width: 3px;
  //   -webkit-text-stroke-color: white;
  // }

  .left-words{
    position: relative;
    left: 105px;
    bottom: 29px;
  }

  .right-words{
    position: relative;
    right: 115px;
    bottom: 29px;
  }

  // img {
  //   -webkit-filter: drop-shadow(5px -5px 0px #949494);
  //   filter: drop-shadow(5px -5px 0px #949494);
  // }
}

.hello-text{
  position: absolute;
  top: 30px;
  left: 260px;
  transform: rotate(340deg);
}

// -webkit-text-stroke-color: var(--color-dark);
