.banner-logo{
  position: relative;

  h2{
    font-size: 6.5rem;
    letter-spacing: -3px;
    transition: all 0.6s;
    -webkit-transition: all 0.3s;
    font-family: var(--logo-font);
    // text-shadow: -1px -1px 0 red, 1px -1px 0 red, -1px 1px 0 red, 1px 1px 0 red;
  }

  .static-letter{
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: white;
  }

  .moving-letter{
    position: absolute;
  }

  .l2{
    left: 69px;
  }
  .l3{
    left: 124px;
  }
  .l5{
    left: 87px;
  }
  .l6{
    left: 140px;
  }
  .l7{
    left: 197px;
  }
  .l8{
    left: 245px;
  }
  .l9{
    left: 315px;
  }
  .l10{
    left: 368px;
  }
  .l11{
    left: 399px;
  }

  .moving-letter:hover{
    color: transparent;
    text-shadow: 5px -5px 0px rgb(255, 255, 255);
  }
  .l1:hover{
    text-shadow: 5px -5px 0px green;
  }
  .l2:hover{
    text-shadow: 5px -5px 0px yellow;
  }
  .l3:hover{
    text-shadow: 5px -5px 0px rgb(226, 10, 10);
  }
  .l4:hover{
    text-shadow: 5px -5px 0px lightblue;
  }
  .l5:hover{
    text-shadow: 5px -5px 0px orange;
  }
  .l6:hover{
    text-shadow: 5px -5px 0px purple;
  }
  .l7:hover{
    text-shadow: 5px -5px 0px pink;
  }
  .l8:hover{
    text-shadow: 5px -5px 0px rgb(10, 10, 231);
  }
  .l9:hover{
    text-shadow: 5px -5px 0px lightgoldenrodyellow;
  }
  .l10:hover{
    text-shadow: 5px -5px 0px lightcyan;
  }
  .l11:hover{
    text-shadow: 5px -5px 0px lightsalmon;
  }
  .moving-letter:hover{
    color: transparent;
    text-shadow: 5px -5px 0px var(--highlight);
  }
  .letter-buttons{
    position: absolute;
    color: transparent;
    text-shadow: 5px -5px 0px rgb(255, 255, 255);
  }
  .letter-buttons:hover{
    text-shadow: 0px 0px 0px rgb(255, 255, 255);
  }

  // .moving-letter:hover + .static-letter{
  //   -webkit-text-stroke-width: 3px;
  //   -webkit-text-stroke-color: white;
  // }

  .left-words{
    position: relative;
    left: 105px;
    bottom: 29px;
    z-index: 3;
  }

  .right-words{
    position: relative;
    right: 115px;
    bottom: 29px;
    z-index: 3;
  }

  // img {
  //   -webkit-filter: drop-shadow(5px -5px 0px #949494);
  //   filter: drop-shadow(5px -5px 0px #949494);
  // }

  .logo-image{
    width: 380px;
    transition: all 0.6s;
    margin: 0 5px;
    cursor: pointer;
    position: relative;
    top: -6px;
    z-index: 2;
  }
}

.hello-text{
  position: absolute;
  top: 30px;
  left: 260px;
  transform: rotate(340deg);
}

.about-row{
  img{
    position: relative;
    right: -8px;
    z-index: 2;
    transform: rotate(353deg);
    border: 10px solid white;
    filter: grayscale(100%);
  }

  .about-img-back{
    width: 400px;
    height: 400px;
    background-color: var(--highlight);
    position: absolute;
    // top: 100px;
    z-index: 1;
    transform: rotate(7deg);
  }
}

.about-info{
  background-color: var(--white-text);
  position: relative;
  left: -20px;
  color: var(--black);
  border-radius: 8px;
  box-shadow: 0 0 20px 0px #00000057;

  max-width: 650px;

  .text-box{
    padding: 32px 32px 16px 32px;
    flex-direction: column;
    margin: 12px;
    border: 8px solid var(--grey);
    border-radius: 8px;
  }

  .text-box-info{
    flex-grow: 1;
  }
}

.social-icons{
  gap: 24px;

  a{
    font-size: 2.5rem;
    color: var(--black);
  }

  a:hover{
    color: var(--grey);
  }
}


.hobby-circular-icon{
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: white;
  position: relative;
  top: -50px;
  border: 6px solid black;

  transition: all 0.5s;

  &.active{
    background-color: var(--highlight);
    height: 110px;
    width: 110px;
  }
}

.hobbies-mover{
  transition: transform 1s;
  max-width: 75%;
  transform: translate(0, -400px);
}
.hobbies-mover{
  &.game{
    transform: translate(0, 0px);
  }
  &.web{
    transform: translate(0, -400px);
  }
  &.board-game{
    transform: translate(0, -800px);
  }
}

.text-link{
  color: var(--black);
}

.text-link:hover{
  color: var(--grey);
}

.scroll-down-arrow{
  i{
    color: var(--white-text);
    position: absolute;
    bottom: 100px;
    font-size: 2rem;
  }

  i:hover{
    color: var(--highlight);
  }
}

// .hobby-circular-icon:hover{
//   background-color: var(--highlight);
//   height: 110px;
//   width: 110px;
// }




@media (max-width: 992px){
  .banner-logo{
    h2{
      font-size: 4.4rem;
    }

    .l2{
      left: 51px;
    }
    .l3{
      left: 89px;
    }
    .l5{
      left: 63px;
    }
    .l6{
      left: 96px;
    }
    .l7{
      left: 134px;
    }
    .l8{
      left: 167px;
    }
    .l9{
      left: 216px;
    }
    .l10{
      left: 250px;
    }
    .l11{
      left: 272px;
    }


    .logo-image{
      width: 260px;
      margin: 0 41px;
      top: -11px;
    }
  }
}
