.web-banner{
  h1{
    font-size: 4rem;
  }
}

.web-projects-container{
  // height: 5000px;
  background: var(--grey-back);
  // width: fit-content;
  // border-radius: 8px 8px 0 0;
  // margin: 0 auto;
  position: relative;
  // max-width: 1200px;
  padding-bottom: 85px;

  .title{
    color: var(--black);
    margin-bottom: 32px;
    background: var(--white-text);
    padding: 16px;
    border-top: 3px solid var(--black);
    border-bottom: 3px solid var(--black);
  }
}

.middle-down-arrow{
  margin-bottom: 115px;

  div{
    background: white;
    border-radius: 50%;
    width: 105px;
    height: 105px;
    position: absolute;
    top: -55px;
    border: 14px solid var(--black);
  }

  i{
    color: black;
    font-size: 3.5rem;
  }
}

.web-project-black{
  padding: 124px 0;
  background: var(--black);
}
.web-project-white{
  padding: 124px 0;
}

.project-image{
  img{
    height: 100%;
  }
}

.web-project-card{
  padding: 16px;

  // .outer-box{
  //   background-color: #ffffffe0;
  //   color: var(--black);
  //   border-radius: 6px;
  //   padding: 32px;
  //   max-width: 1000px;
  // }

  .outer-box.black{
    // background-color: #ffffffe0;
    // color: var(--black);
    // border-radius: 6px;
    border-top: 2px solid var(--white-text);
    border-bottom: 2px solid var(--white-text);
    padding: 32px;
    max-width: 1000px;
  }
  .outer-box.white{
    // background-color: #ffffffe0;
    color: var(--black);
    // border-radius: 6px;
    border-top: 2px solid var(--black);
    border-bottom: 2px solid var(--black);
    padding: 32px;
    max-width: 1000px;
  }

  .project-image{
    padding: 16px;
    min-width: 550px;
    height: 350px;
    background-size: cover;
  }

  .project-info{
    padding: 16px;
  }

  .info-container{
    max-width: 500px;
  }
}

.tech-stack.black{
  margin-bottom: 16px;

  div{
    width: 40px;
    display: inline-block;
    // color: var(--grey);
    color: #494949;
  }

  div:hover{
    color: var(--white-text);
  }
}
.tech-stack.white{
  margin-bottom: 16px;

  div{
    width: 40px;
    display: inline-block;
    // color: var(--grey);
    color: #acacac;
  }

  div:hover{
    color: var(--black);
  }
}

.project-button{
  text-decoration: none;
  padding: 8px 24px;
  border-radius: 16px;
  display: block;
  width: fit-content;
  flex-grow: 1;
  text-align: center;
  max-width: 150px;
  transition: all 0.5s;

  &.view{
    color: var(--white-text);
    background-color: var(--black);
    border: 2px solid var(--white-text);
  }
  &.git{
    color: var(--black);
    background-color: var(--white-text);
    border: 2px solid var(--black);
  }
}
.project-button:hover{
  color: var(--white-text);
  background-color: var(--highlight);
  // border: none;
  border: 2px solid transparent;
}

.projects-break{
  margin: 160px auto;
  height: 1px;
  border-bottom: 2px solid white;
  width: 85%;
}

// Media queries
//
//


@media (max-width: 1024px){
  .web-project-card{
    .project-image{
      min-width: 460px;
      height: 300px;
    }
  }

}

@media (max-width: 768px){
  .web-banner{
    h1{
      font-size: 3rem;
    }
  }

  .web-project-card{
    margin: 0;
    .outer-box.white{
      padding: 32px 0;
    }
    .outer-box.black{
      padding: 32px 0;
    }
  }

  .outer-box.black{
    flex-direction: column;
  }
  .outer-box.white{
    flex-direction: column-reverse;
  }
}

// @media (max-width: 600px){

// }

@media (max-width: 480px){

}
