<div class="games-banner flex-box f-justify-center f-align-center">
  <div class="game-title-box flex-box" style="background-image: url('<%= image_path('Paulrus.jpg') %>');">
    <div class="title-left">
    </div>
    <div class="title-right">
      <h1>Game Development</h1>
    </div>
  </div>
</div>
<div class="games-projects-container">
  <div class="middle-down-arrow flex-box f-justify-center">
    <div class="flex-box f-justify-center f-align-center">
      <i class="fa-solid fa-angle-down"></i>
    </div>
  </div>
  <div style="height: 115px;"></div>
  <!--
      Game Projects
    -->
  <%= render "core/game_project_cards" %>
</div>
