<div class="games-banner flex-box f-justify-center f-align-center">
  <div class="game-title-box flex-box" style="background-image: url('https://unity.com/_next/image?url=https%3A%2F%2Fcdn.sanity.io%2Fimages%2Ffuvbjjlp%2Fproduction%2Fbdd4ab9208069e280930c85cf38e5015b3582535-1910x938.png&w=3840&q=75');">
    <div class="title-left">
    </div>
    <div class="title-right">
      <h1>Game Development</h1>
    </div>
  </div>
</div>
<div data-controller="project-color-setter" class="games-projects-container">
  <div class="middle-down-arrow flex-box f-justify-center">
    <div class="flex-box f-justify-center f-align-center">
      <i class="fa-solid fa-angle-down"></i>
    </div>
  </div>
  <div style="height: 115px;"></div>
  <!--
      Game Projects
    -->
  <%= render "core/game_project_cards" %>
</div>
