<div class="home-top" style="background-color: black; height: 100vh">
  <header style="height: 7vh">
    <div class="wrapper flex-box">
      <%# image_tag "LogoWithoutName.png", width: "100px" %>
      <div>
        <p>By Michael Stump</p>
      </div>
    </div>
  </header>
  <%= render "core/navbar" %>
  <div class="banner" style="height: 86vh">
    <div class="flex-box f-justify-center f-align-center" style="height: 100%;">
      <%= image_tag "LogoWithName.png" %>
      <h1>S</h1>
    </div>
  </div>
</div>
<div style="height: 10000px; background-color: beige;">
  <h2>Hello</h2>
</div>
