<div class="home-top text-light" style="background-color: #0F0F0F;">
  <header style="height: 10vh">
    <div class="wrapper flex-box">
      <%# link_to "About me", "#" %>
    </div>
  </header>
  <%= render "core/navbar" %>
  <div class="banner" style="height: 83vh">
    <div class="flex-box f-justify-center f-align-center" style="height: 100%;">
      <div class="banner-logo flex-box f-align-end">
        <%# image_tag "LogoWithName.png" %>
        <%# <h2>One</h2> %>
        <h3 class="hello-text">👋🏻 Hi, I'm Michael!</h3>
        <div class="flex-box left-words">
          <h2>O</h2>
          <h2>n</h2>
          <h2>e</h2>
        </div>
        <%= image_tag "LogoDesignLighterBlack.png", width: "400px" %>
        <div class="flex-box right-words">
          <h2>M</h2>
          <h2>a</h2>
          <h2>n</h2>
          <h2>y</h2>
          <h2>H</h2>
          <h2>a</h2>
          <h2>t</h2>
          <h2>s</h2>
        </div>
        <%# <h1>S</h1> %>
      </div>
    </div>
  </div>
  <div style="height: 10000px; background-color: #c7c7c7;">
  </div>
</div>
