<div class="home-top">
  <header style="height: 10vh">
    <div class="wrapper flex-box">
      <%# link_to "About me", "#" %>
    </div>
  </header>
  <%= render "core/navbar" %>
  <div data-controller="logo-letters" class="banner" style="height: 83vh">
    <div class="flex-box f-justify-center f-align-center" style="height: 100%;">
      <div class="banner-logo flex-box f-align-end">
        <%# image_tag "LogoWithName.png" %>
        <%# <h2>One</h2> %>
        <h3 class="hello-text">👇🏻 Click me!</h3>
        <div class="flex-box left-words">
          <h2 class="moving-letter l1">O</h2>
          <h2 class="static-letter">O</h2>
          <h2 class="moving-letter l2" style="left: 81px">n</h2>
          <h2 class="static-letter">n</h2>
          <h2 class="moving-letter l3" style="left: 144px">e</h2>
          <h2 class="static-letter">e</h2>
        </div>
        <div data-action="click->logo-letters#buttonsToggle"><%= image_tag "LogoDesignLighterBlack.png", width: "400px" %></div>
        <div class="flex-box right-words">
          <h2 class="moving-letter l4">M</h2>
          <h2 class="static-letter">M</h2>
          <h2 class="moving-letter l5" style="left: 101px">a</h2>
          <h2 class="static-letter">a</h2>
          <h2 class="moving-letter l6" style="left: 156px">n</h2>
          <h2 class="static-letter">n</h2>
          <h2 class="moving-letter l7" style="left: 218px">y</h2>
          <h2 class="static-letter">y</h2>
          <h2 class="moving-letter l8" style="left: 272px">H</h2>
          <h2 class="static-letter">H</h2>
          <h2 class="moving-letter l9" style="left: 352px">a</h2>
          <h2 class="static-letter">a</h2>
          <h2 class="moving-letter l10" style="left: 408px">t</h2>
          <h2 class="static-letter">t</h2>
          <h2 class="moving-letter l11" style="left: 444px">s</h2>
          <h2 class="static-letter">s</h2>
        </div>
        <%# <h1>S</h1> %>
      </div>
    </div>
  </div>
  <div style="height: 10000px; background-color: #c7c7c7;">
  </div>
</div>
