<div class="web-banner flex-box f-justify-center f-align-center" style="height: 81vh; background-color: var(--black);">
  <h1>< Web Development ></h1>
  </div>
  <div class="web-projects-container">
    <div class="middle-down-arrow flex-box f-justify-center">
      <div class="flex-box f-justify-center f-align-center">
        <i class="fa-solid fa-angle-down"></i>
      </div>
    </div>
    <!--
      Web Projects
    -->
    <%# <h2 class="title flex-box f-justify-center">My Projects</h2> %>
    <%= render "core/web_project_cards" %>
  </div>
  <%# background-color: rgb(20 41 59); %>
