<div>
  <div class="marquee">
    <div class="flex-box">
      <h2>C#</h2>
      <h2>HTML</h2>
      <h2>CSS</h2>
      <h2>Javascript</h2>
      <h2>Ruby</h2>
      <h2>SQL</h2>
      <h2>ClipStudioPaint</h2>
    </div>
  </div>
</div>
