<div class="lang-toggle flex-box f-justify-end">
  <p>English</p>
  <% if params[:locale] != "jp" %>
    <%= link_to root_path(params: { locale: "jp" }) do %>
      <label data-controller="language-toggle" id="language-toggle" class="switch">
        <input type="checkbox" data-language-toggle-target="toggle">
        <span class="slider round"></span>
      </label>
    <% end %>
  <% else %>
    <%= link_to root_path(params: { locale: "en" }) do %>
      <label data-controller="language-toggle" id="language-toggle" class="switch">
        <input type="checkbox" data-language-toggle-target="toggle">
        <span class="slider round"></span>
      </label>
    <% end %>
  <% end %>
  <p>日本語</p>
</div>
