<div class="flex-box left-words">
  <h2 class="moving-letter l1">O</h2>
  <h2 class="static-letter">O</h2>
  <h2 class="moving-letter l2">n</h2>
  <h2 class="static-letter">n</h2>
  <h2 class="moving-letter l3">e</h2>
  <h2 class="static-letter">e</h2>
</div>
<div data-action="click->logo-letters#buttonsToggle"><%= image_tag "LogoDesignLighterBlack.png", class: "logo-image" %></div>
<div class="flex-box right-words">
  <h2 class="moving-letter l4">M</h2>
  <h2 class="static-letter">M</h2>
  <h2 class="moving-letter l5">a</h2>
  <h2 class="static-letter">a</h2>
  <h2 class="moving-letter l6">n</h2>
  <h2 class="static-letter">n</h2>
  <h2 class="moving-letter l7">y</h2>
  <h2 class="static-letter">y</h2>
  <h2 class="moving-letter l8">H</h2>
  <h2 class="static-letter">H</h2>
  <h2 class="moving-letter l9">a</h2>
  <h2 class="static-letter">a</h2>
  <h2 class="moving-letter l10">t</h2>
  <h2 class="static-letter">t</h2>
  <h2 class="moving-letter l11">s</h2>
  <h2 class="static-letter">s</h2>
</div>
