<div class="nav-wrapper" data-controller="navbar" data-navbar-target="mainNav">
  <div class="main-nav-inner flex-box f-justify-center f-align-center">
    <div>
      <ul class="flex-box">
        <li style="list-style-type: none">Home</li>
        <li style="list-style-type: none">Games</li>
      </ul>
    </div>
  </div>
</div>
