<header class="main-nav">
  <div class="wrapper">
    <div class="main-nav-inner bg-warning">
      <ul class="flex-box">
        <li style="list-style-type: none">Home</li>
        <li style="list-style-type: none">Games</li>
      </ul>
    </div>
  </div>
</header>
