.marquee{
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  padding: 25px 0;
  background-color: var(--white-text);
  color: var(--black);

  div{
    animation: animate 20s linear infinite;
    padding-left: 100%;
    padding-right: 80%;
    gap: 100px;
  }
}

@keyframes animate{
  100%{
    transform: translate(-100%, 0);
  }
}
