.nav-wrapper{
  // padding-top: 16px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100%;
}

.main-nav-inner{
  padding: 0 45px;
  transition: all 0.5s;
  border-radius: 24px;

  ul{
    gap: 16px;
    margin: 0;
    padding: 10px;
    height: 100%;
    gap: 150px;
    transition: all 0.3s;
  }

  li{
    list-style: none;
    font-size: 1.3rem;
  }

  a{
    text-decoration: none;
    transition: all 0.2s;
    color: var(--white-text);
  }
  a:hover{
    color: var(--highlight);
  }
}

.nav-element{
  position: relative;
}

.nav-element::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 4px;
  bottom: 8px;
  background-color: var(--highlight);
  transition: transform 0.25s ease-out;
}

.nav-element:hover::after {
  transform: scaleX(1);
}

.sticking-nav{
  position: fixed;
  top: 16px;
  z-index: 10;
  width: fit-content;

  .main-nav-inner{
    background-color: rgba(var(--black-rgb), 0.8);
  }

  ul{
    gap: 100px;
  }

  li{
    font-size: 1rem;
  }

  p{
    display: none;
  }

  .nav-element::after{
    transform: scaleX(0);
  }
}

.nav-items{
  text-align: center;

  i{
    font-size: 1.3rem;
  }
}

// Media queries
//
//

@media (max-width: 1024px){
  .main-nav-inner{
    li{
      font-size: 1.1rem;
    }

    ul{
      gap: 100px;
    }
  }

  .sticking-nav{
    ul{
      gap: 70px;
    }
  }
}

@media (max-width: 768px){
  .main-nav-inner{
    padding: 0 25px;

    li{
      font-size: 1rem;
    }

    ul{
      gap: 65px;
    }
  }

  .sticking-nav{
    ul{
      gap: 60px;
    }
  }
}

@media (max-width: 550px){
  .main-nav-inner{
    li{
      font-size: 0.9rem;
    }

    ul{
      gap: 45px;
    }
  }
}

@media (max-width: 480px){
  .main-nav-inner{
    ul{
      gap: 60px;
    }
  }

  .nav-items{
    p{
      display: none;
    }

    i{
      font-size: 1.5rem;
    }
  }
}
