.nav-wrapper{
  // padding-top: 16px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100%;
}

.main-nav-inner{
  padding: 0 45px;
  transition: all 0.5s;
  border-radius: 24px;

  ul{
    gap: 16px;
    margin: 0;
    padding: 10px;
    height: 100%;
    gap: 150px;
    transition: all 0.3s;
  }

  li{
    list-style: none;
    font-size: 1.3rem;
  }

  a{
    text-decoration: none;
    transition: all 0.2s;
    color: var(--white-text);
  }
  a:hover{
    color: var(--highlight);
  }
}

.sticking-nav{
  position: fixed;
  top: 16px;
  z-index: 10;
  width: fit-content;

  .main-nav-inner{
    background-color: rgba(var(--black-rgb), 0.8);
  }

  ul{
    gap: 100px;
  }

  li{
    font-size: 1rem;
  }

  p{
    display: none;
  }
}

.nav-items{
  text-align: center;

  i{
    font-size: 1.3rem;
  }
}

// Media queries
//
//

@media (max-width: 992px){
  .main-nav-inner{
    li{
      font-size: 1rem;
    }
  }
}
